
hr {
  border: none;
  border-top: 3px double #f09a;
  color: #f09a;
  text-align: center;
  height: 5px;
}

label {
    padding-right: 10px;
}

progress {
    max-width: 250px;
}

/* IMAGE DISPLAYED WITH QUESTION */
#q_img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* CATEGORY QUIZ INSUFFICIENT QUESTION WARNING */
#q_warn {
    width: 50%;
    margin: 0 auto;
    padding: 12px 25px;
    text-align: center;
    border-radius: 15px;
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #444;
  color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #808b96;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #46474A;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#references{
    margin: 1rem 40px;
}

#references li {
    list-style-type: disc;
    list-style-position: inside;
}

div.panel p {
    margin: 18px;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #ccc;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}