
hr {
  border: none;
  border-top: 3px double #f09a;
  color: #f09a;
  text-align: center;
  height: 5px;
}

label {
    padding-right: 10px;
}

progress {
    max-width: 250px;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

#q_warn {
    width: 50%;
    margin: 0 auto;
}