{% load static %}
{% if previous.answers %}

  <table class="table is-bordered is-striped is-hoverable">
      <tbody>
          {% for answer in previous.answers %}
              <tr>
              {% if answer.correct %}
                  <td class="is-success">{{ answer.content }}</td>
                  <td><strong>This is the correct answer</strong></td>
              {% else %}
                  <td><span class="has-text-primary">{{ answer.content }}</span></td>
                  <td>
                       {% if answer.id|stringformat:"s" in previous.previous_answer %}
                           Your selected this
                      {% endif %}
                  </td>
              {% endif %}
              <td>
                  {% widthratio answer.usage_count previous.difficulty.2 200 as width %}
                  <img src="{% static 'odpro/pixel-1.png' %}" style="width: {{ width|add:2}}px; height: 5px;" alt="Popularity of this answer choice" title="Popularity of this answer choice">
              </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>

{% endif %}
