{% if previous.answers %}

  <table class="table is-bordered is-striped is-hoverable">
      <tbody>
          {% for answer in previous.answers %}
              <tr>
              {% if answer.correct %}
                  <td class="is-success">{{ answer.content }}</td>
                  <td><strong>This is the correct answer</strong></td>
              {% else %}
                  <td><span class="has-text-primary">{{ answer.content }}</span></td>
                  <td>
                       {% if answer.id|stringformat:"s" in previous.previous_answer %}
                           Your selected this
                      {% endif %}
                  </td>

              {% endif %}
              </tr>
          {% endfor %}
      </tbody>
  </table>

{% endif %}
