{% load static %}

    <div class="block">
        <p class="is-size-6 has-text-weight-light has-text-light">The previous question was:</p>
        <p class="is-size-6 has-text-weight-medium has-text-white my-3" style="max-width: 80%;">{{ previous.previous_question }}</p>
        <p class="is-size-6 has-text-weight-light has-text-light">Your answer was

        {% if previous.previous_outcome %}
	        <span class="has-text-weight-semibold has-text-success">
        {% else %}
	        <span class="has-text-weight-semibold has-text-danger">
        {% endif %}
            {{ previous.previous_outcome|yesno:"correct,incorrect" }}</span></p>
        {% if previous.difficulty %}
            <p class="is-size-6 has-text-weight-light has-text-light mt-3"><b>Difficulty Level: {{ previous.difficulty.1 }}.</b> This question has been answered correctly {{ previous.difficulty.0 }}% of the time.</p>
        {% endif %}
    </div>

    <div class="block is-size-6">
    	{% include 'odpro/correct_answer.html' %}
    </div>

    <div class="block mx-4">
        <div id="explanation" style="max-width: 75%;">
            <button class="accordion">Explanation:</button>
            <div class="panel">
                <p>{{ previous.previous_question.explanation }}</p>
                {% if previous.previous_question.exp_img %}
                    <p><img id="exp_img" src="{{ previous.previous_question.exp_img.url }}" alt="Image" /></p>
                {% endif %}
                {% if previous.previous_question.references %}
                    <div id="references">
                        <span class="has-text-weight-semibold has-text-white">Further Reading:</span>
                        <ul>
                        {% for reference in previous.previous_question.references.all %}
                            <li><a href="{{ reference.url }}" target="_blank">{{ reference.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
	</div>

<script>
    // // Hide/show question explanation block
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>

	<hr />